{% extends "calculusModule/base_generic.html" %}

{% block stylesheet %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/weeklyScores.css' %}" />
{% endblock %}

{% block content %}
  <h2>Scores de la semaine n°{{ lastWeek.displayNumber }}, du {{ lastWeek.dateStart|date:"d/m/Y" }} au {{ lastWeek.dateEnd|date:"d/m/Y" }}</h2>
  <a class="colorfulButton bodyLinkNotAsLink" href="{% url 'downloadPdf' %}">Télécharger le pdf des résultats</a>
  <h3>CM2</h3>
  {% include "calculusModule/weeklyScoresTable.html" with sortedClassesDtos=sortedCm2ClassesDtos %}
  <h3>Sixièmes</h3>
  {% include "calculusModule/weeklyScoresTable.html" with sortedClassesDtos=sortedSixiemeClassesDtos %}
{% endblock %}
