{% extends "calculusModule/base_generic.html" %}

{% block stylesheet %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/weeklyScores.css' %}" />
{% endblock %}

{% block content %}
  <h2>Scores de la semaine n°{{ lastWeek.displayNumber }}, du {{ lastWeek.dateStart|date:"d/m/Y" }} au {{ lastWeek.dateEnd|date:"d/m/Y" }}</h2>
  <a class="colorfulButton bodyLinkNotAsLink" href="{% url 'downloadPdf' %}">Télécharger le pdf des résultats</a>
  <h3>CM2</h3>
  <table class="scoresTable">
    <thead class="scoresTableHeader">
      <tr>
        <th>
          Classement
        </th>
        <th>
          Classe
        </th>
        <th>
          Score
        </th>
        <th>
          Pourcentage de nuls
        </th>
        <th>
          Pourcentage de Mathadors
        </th>
      </tr>
    </thead>
    <tbody class="scoresTableBody">
      {% for sortedCm2ClassesDto in sortedCm2ClassesDtos %}
        <tr>
          <td>
            {{ sortedCm2ClassesDto.ranking }}
          </td>
          <td>
            {{ sortedCm2ClassesDto.schoolClass.name }}
          </td>
          {% if sortedCm2ClassesDto.score == None %}
            <td>
              -
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
          {% else %}
            <td>
              {{ sortedCm2ClassesDto.score.numericScore|floatformat:"2" }}
            </td>
            <td>
              {{ sortedCm2ClassesDto.score.nullScoresPercentage|floatformat:"1" }} %
            </td>
            <td>
              {{ sortedCm2ClassesDto.score.mathadorsPercentage|floatformat:"1" }} %
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Sixièmes</h3>
  <table class="scoresTable">
    <thead class="scoresTableHeader">
      <tr>
        <th>
          Classement
        </th>
        <th>
          Classe
        </th>
        <th>
          Score
        </th>
        <th>
          Pourcentage de nuls
        </th>
        <th>
          Pourcentage de Mathadors
        </th>
      </tr>
    </thead>
    <tbody class="scoresTableBody">
      {% for sortedSixiemeClassesDto in sortedSixiemeClassesDtos %}
        <tr>
          <td>
            {{ sortedSixiemeClassesDto.ranking }}
          </td>
          <td>
            {{ sortedSixiemeClassesDto.schoolClass.name }}
          </td>
          {% if sortedSixiemeClassesDto.score == None %}
            <td>
              -
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
          {% else %}
            <td>
              {{ sortedSixiemeClassesDto.score.numericScore|floatformat:"2" }}
            </td>
            <td>
              {{ sortedSixiemeClassesDto.score.nullScoresPercentage|floatformat:"1" }} %
            </td>
            <td>
              {{ sortedSixiemeClassesDto.score.mathadorsPercentage|floatformat:"1" }} %
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
